.textBlack {
  color: rgba(0, 0, 0, 0.959);
  font-size: 1.3rem;
}
body {
  background: rgba(26, 83, 76, 0.582);
}
header {
  width: 100%;
}
header .nav_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
header .nav_bar a {
  text-decoration: none;
  padding: 20px 20px;
  color: purple;
}
.main {
  background: rgba(241, 217, 211, 0.651);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.intro .top-img {
  width: 50%;
  margin: 20px 20px 20px 20px;
}
@media (max-width: 700px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .intro .top-img {
    display: flex;
  }
}
.four {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 100px;
}
.four h1 {
  font-size: 3em;
}
.four .b {
  width: 50%;
  margin-left: 110px;
  font-size: 1.5em;
  color: purple;
  background-color: rgba(26, 83, 76, 0.582);
}
.four .p {
  width: 10%;
}
.skills {
  color: rgba(0, 0, 0, 0.959);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.skills p {
  width: 92%;
}
.work-hist {
  margin: 20px 20px 20px 20px;
  border: solid black;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer {
  width: 100%;
}
.bottom {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
}
